* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
}

/*  --------------------------------  MAIN -------------------------------- */

.main-container {
    margin-top: 80px;
    display: flex;
    background-color: #121212;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.artwork-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    padding: 100px 20px 20px;
}

.artwork {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    cursor:pointer;
}

.artwork img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.artwork:hover img {
    transform: scale(1.07);
}

.artwork-info {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.artwork-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:10px;
}

.artwork:hover .artwork-info {
    opacity: 1;
}

.artwork-info h3 {
    margin: 0;
    font-size: 16px;
}

.artwork-info p {
    margin: 4px 0 0;
    font-size: 14px;
}

.artwork-info .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

@media (max-width: 1200px) {
    .artwork-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 800px) {
    .artwork-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .artwork-container {
        grid-template-columns: 1fr;
    }
}


/*  --------------------------------  SEARCH -------------------------------- */


.parameters-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar {
    width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: box-shadow 0.2s ease;
}

/*  --------------------------------  SORT -------------------------------- */


.search-bar:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: rgba(0, 123, 255, 0.5);
}

.sort-dropdown {
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

/*  --------------------------------  TAGS -------------------------------- */


.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    padding: 8px 16px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.tag:hover {
    background-color: #e0e0e0;
    border-color: #bbb;
}

.tag.selected {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
    font-weight: bold;
}
